
     @font-face {
    font-family: 'LatoWeb';
    src: url('/resources/Lato/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('/resources/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/resources/Lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('/resources/Lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('/resources/Lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
        .footerblue {
            min-height: 60px;
            padding-bottom:10px;
            background-color: #35528c;
            text-align:center;
           clear:both;
           color:#fff;
           vertical-align:middle;
           padding-top:10px;
           font-family:'LatoWeb';
        }
        .botlink {
            font-size: 15px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 0.3px;
            padding-right: 10px;
            padding-left: 20px;
            text-align: left;
            color: #fff !important;
            white-space: nowrap;
            text-decoration:none !important;
        }
         .botlink:hover {
             color: #FFFFFF;
         }
    .Copyrightfooter {
        height: 80px;
        background-color: #13232c;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: center;
        color: #ffffff;
        font-size: 15px;
        padding-top: 30px;
        text-decoration: none !important;
        font-family: 'LatoWeb';
    }
.copyrights {      font-size: 15px; color: #ffffff !important; text-decoration:none !important;       }
.copyrights:hover {   color: #ffffff;     }
.mrgbot20{ margin-bottom:20px;  }
.pad-left5{   padding-left:5px;   }
    @media(max-width:767px) {
    .footerblue {  text-align: left !important;  }
    .Copyrightfooter {  text-align: left !important; }
}
.pad-left15 { padding-left: 15px;}
